<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Помилка</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <link rel="icon" href="https://cdn-icons-png.freepik.com/256/15616/15616708.png" type="image/png">
</head>
<body>
    <div class="container">
        <h1 class="error-title">Військову техніку не знайдено</h1>

        <div class="result-card">
            <p>{{ error_message }}</p>

            {% if metadata is defined and metadata %}
            <div class="metadata-box">
                <h3>Метадані</h3>
                <ul>
                    <li><strong>Дата/Час:</strong> {{ metadata.datetime }}</li>
                    <li><strong>GPS широта:</strong> {{ metadata.gps_lat }}</li>
                    <li><strong>GPS довгота:</strong> {{ metadata.gps_lon }}</li>
                    <li><strong>Камера:</strong> {{ metadata.camera_model }}</li>
                    <li><strong>Яскравість:</strong> {{ metadata.brightness }}</li>
                    <li><strong>Орієнтація:</strong> {{ metadata.orientation }}</li>
                    <li><strong>Джерело:</strong> {{ metadata.capture_type }}</li>
                    <li><strong>Файл:</strong> {{ metadata.source_path }}</li>
                </ul>
            </div>

            {% if metadata.gps_lat_decimal and metadata.gps_lon_decimal %}
            <div id="map" style="height: 350px; margin-top: 20px; border-radius: 12px;"></div>
            {% endif %}
            {% endif %}

            <a href="{{ request.url_for('home') }}">
                <button class="back-btn">← Назад до завантаження</button>
            </a>
        </div>
    </div>

    <script src="{{ request.url_for('static', path='script.js') }}"></script>

            {% if metadata.gps_lat_decimal is not none and metadata.gps_lon_decimal is not none %}
            <div id="map" style="height: 350px; margin-top: 20px; border-radius: 12px;"></div>
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
                    crossorigin=""></script>
            <script>
                const lat = {{ metadata.gps_lat_decimal | safe }};
                const lon = {{ metadata.gps_lon_decimal | safe }};

                const map = L.map('map').setView([lat, lon], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);
                L.marker([lat, lon]).addTo(map).bindPopup('Місце зйомки').openPopup();
            </script>
            {% endif %}

</body>
</html>
